@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

#miamimed-questionaries-states-consent-modal-open{
  cursor: pointer;
}

footer .col-full .site-info a {
  display: none;
}

#patient_login_forgot_password{
  cursor: pointer;
}

.two-fa-verification-container{
  width : 50%;
}

.Patient-back-btn{
  position: absolute;
  top: 10%;
  left: 5%;
}

#PatientSignUpVerificationResend{
  cursor: pointer;
}

.patient_login_register .forgot-password-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.woocommerce-form-login{
  display: none;
}

.forgot-2fa-heading {
  position: absolute;
  top: 20%;
}

.woocommerce> h2{
  display: none;
}

#patient_forgot_pasword_otp_text{
  text-align: left;
}

.d-none {
  display: none !important;
}

#PatientSignUpVerificationText {
  text-align: left;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

.patient_login_register h3 {
  font-weight: 700;
}


.patient_login_register h1 {



  font-weight: bold;



  margin: 0;



}
.patient_login_register h2 {
  text-align: center;
}

.ays-survey-section-header{
  display: none !important;
}
.ays-survey-question-title{
  font-weight: bolder !important;
}

.patient_login_register p {

  font-size: 14px;

  font-weight: 100;

  line-height: 20px;

  letter-spacing: 0.5px;


  margin: 20px 0 30px;



}







.patient_login_register span {



  font-size: 12px;



}







.patient_login_register a {



  color: #333;



  font-size: 14px;



  text-decoration: none;



  margin: 15px 0;



}







.patient_login_register button {



  border-radius: 20px;



  margin-top: 20px;



  border: 1px solid #ff4b2b;



  background-color: #ff4b2b;



  color: #ffffff;



  font-size: 12px;



  font-weight: bold;



  padding: 12px 45px;



  letter-spacing: 1px;



  text-transform: uppercase;



  transition: transform 80ms ease-in;



}







.patient_login_register button:active {



  transform: scale(0.95);



}







.patient_login_register button:focus {



  outline: none;



}







.patient_login_register button.ghost {



  background-color: transparent;



  border-color: #ffffff;



}







.patient_login_register form {



  background-color: #ffffff;



  display: flex;



  align-items: center;



  justify-content: center;



  flex-direction: column;



  padding: 0 50px;



  height: 100%;



  text-align: center;



  /* margin-top: -10%; */



}







.patient_login_register input {



  background-color: #eee;



  border: none;



  padding: 12px 15px;



  margin: 8px 0;



  width: 100%;



}







body



  .is-layout-constrained



  > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {



  width: 1068px;



  max-width: 1068px;



}







.patient_login_register {



  background-color: #fff;



  border-radius: 10px;



  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);



  position: relative;



  overflow: hidden;



  width: 1068px;



  max-width: 1068px;



  min-height: 580px;



}







.patient_login_register .form-container {



  position: absolute;



  top: 0;



  height: 100%;



  transition: all 0.6s ease-in-out;



}







.patient_login_register .sign-in-container {



  left: 0;



  width: 50%;



  z-index: 2;



}







.patient_login_register.right-panel-active .sign-in-container {



  transform: translateX(100%);



}







.patient_login_register .sign-up-container {



  left: 0;



  width: 50%;



  opacity: 0;



  z-index: 1;



}







.patient_login_register.right-panel-active .sign-up-container {



  transform: translateX(100%);



  opacity: 1;



  z-index: 5;



  animation: show 0.6s;



}







.patient_login_register .overlay-container {



  position: absolute;



  top: 0;



  left: 50%;



  width: 50%;



  height: 100%;



  overflow: hidden;



  transition: transform 0.6s ease-in-out;



  z-index: 100;



}







.patient_login_register.right-panel-active .overlay-container {



  transform: translateX(-100%);



}







.patient_login_register .overlay {



  background: #ff416c;



  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);



  background: linear-gradient(to right, #ff4b2b, #ff416c);



  background-repeat: no-repeat;



  background-size: cover;



  background-position: 0 0;



  color: #ffffff;



  position: relative;



  left: -100%;



  height: 100%;



  width: 200%;



  transform: translateX(0);



  transition: transform 0.6s ease-in-out;



}







.patient_login_register.right-panel-active .overlay {



  transform: translateX(50%);



}







.patient_login_register .overlay-panel {



  position: absolute;



  display: flex;



  align-items: center;



  justify-content: center;



  flex-direction: column;



  padding: 0 40px;



  text-align: center;



  top: 0;



  height: 100%;



  width: 50%;



  transform: translateX(0);



  transition: transform 0.6s ease-in-out;



}







.patient_login_register .overlay-left {



  transform: translateX(-20%);



}







.patient_login_register.right-panel-active .overlay-left {



  transform: translateX(0);



}







.patient_login_register .overlay-right {



  right: 0;



  transform: translateX(0);



}







.patient_login_register.right-panel-active .overlay-right {



  transform: translateX(20%);



}







.patient_login_register .social-container {



  margin: 20px 0;



}







.patient_login_register .social-container a {



  border: 1px solid #dddddd;



  border-radius: 50%;



  display: inline-flex;



  justify-content: center;



  align-items: center;



  margin: 0 5px;



  height: 40px;



  width: 40px;



}



.patient_login_register .tacbox {



  width: 100%;



}



.patient_login_register .tacbox_checkbox {



  margin: 0px -203px 0px -58%;



}



.signup_error_msg {



  display: none;



  font-size: 13px !important;



}







.signup_error_msg_display {



  display: block;



  color: red !important;



}



.signup_error_success_msg_display {



  color: green !important;



  display: block;



}



